@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#fff ;
}

.name{
	color: #373636; 
    font-size: 30px;
    text-align: center;
    position: relative;
    padding-top:60px;
}

.table{
	width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 1rem;
}

.table th{
	background: #cccccc;
    color: black;
    font-weight: bold;
}

.table tr{
	border: 1px solid black;
}

.seen{
	width: 16%; 
}

.table tr:hover{
	background:rgb(196, 196, 196) ;
    color: black;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;

}

.button:hover{
	background: #A9927D;
    color: black;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.button{
    background: #808080;
    color:#fff;
    cursor: pointer;
    font-size: 1rem; 
    margin :10px;   
    padding:8px;  
}


